/* add grid layout for the card-list class and make sure there is space between the card items*/
.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 700px));
  grid-gap: 20px;
  margin: 20px 0;
  justify-content: center;
}

.card,
.cardBody,
.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 18px;
  background: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s;
  grid-auto-rows: 1fr;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.cardImage {
  display: block;
  position: relative;
  height: 400px;
  width: 100%;
}

.cardImage img {
  max-height: 100%;
  width: 100%;
  background-size: cover;
}

.cardBody {
  padding: 20px 28px;
}

.cardBody .price {
  font-weight: bolder;
  font-size: 1.5rem;
}

.cardBody h2 {
  font-size: 1.8em;
  margin: 2px auto 12px;
}

.cardBody p {
  color: gray;
  font-size: 1.1em;
  line-height: 22px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;

}


.actionBtns button {
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnDelete {
  background-color: #d9534f;
  color: #fff;
  margin: 0.5rem;
}

.btnPrimary {
  font-size: 0.9em;
  padding: 10px;
  color: #fff;
  width: 100%;
  border: none;
  text-transform: uppercase;
  margin-top: 2px;
  background: #0c14ff;
}

.deleteBtn:hover {
  color: #fddb3a;
  text-decoration: underline;
}

.card:nth-child(1) .price {
  color: #ff0c71;
}

/* Navigation */

.navMenu {
  display: flex;
  align-items: center;

}

.logo {
  width: 180px;
  height: 140px;
  border-radius: 50%;
  color: #fddb3a;
  margin: 1rem;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
}

.navMenu a:hover {
  color: #fddb3a;
}

.darkLine {
  background-color: #070706;
  height: 2px;
  width: 100%;
  margin: 0.5rem;

}

/* Styles for the form */
.title {
  flex: 1;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  color: #676458;
  font-family: Cursive, 'Times New Roman', Times, serif;

}

.container input[type=text],
.container input[type=url],
.container input[type=number],
.container input[type=search],
.container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 0.5rem 0;
}

/* create a nice drop down */


.filter {
  --webkit-appearance: none;
  width: 50%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  margin-left: 2rem
}


.container label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
  color: black;
}

.container input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.container input[type=submit]:hover {
  background-color: #45a049;
}

/* Add media query to handle the navigation menu */
@media screen and (max-width: 600px) {

  .navMenu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .navMenu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
}


.detailsCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  height: 1100px;
  margin: 3rem auto;
  text-align: center;
  font-family: arial;
  font-size: larger;
}

.detailImage {
  width: 90%;
  margin: 2rem;
  height: 600px;
}

.detailsPrice {
  color: grey;
  font-size: 22px;
}

.backBtn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.detailsCard button:hover {
  opacity: 0.7;
}